[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
ipython = "*"

[packages]
tencentcloud-sdk-python = "*"
bs4 = "*"
colorful = "*"

[requires]
python_version = "3.7"
